@model BitCoinsWebApp.Model.User
@{
    ViewBag.Title = "FC Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-loader-wrapper page-loader-wrapper-1">
    <div class="loader">
        <div class="stick1"></div>
        <div class="stick2"></div>
        <div class="stick3"></div>
        <div class="stick4"></div>
        <!--loader-->
    </div>
    <!--page-loader-wrapper-->
</div>
<!--====================================-->
<!--============== Login ===============-->
<!--====================================-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main-login">
    <div class="row">
        <div class="login-banner col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="row">
                <div class="darkBlueBg login-box regular-font text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <figure><a href="index.html">
                            <img src="images/logo2.png" alt="logo2" /></a></figure>
                        <h1>client login</h1>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "editForm", @class = "form-horizontal" }))
                        { 
                            <div class="form-group">
                                <div class="login-field pull-left">
                                    <i class="fa fa-user pull-left"></i>
                                   @Html.TextBoxFor(m => Model.UserName, new { @maxlength = 50, @size = "44",@class = "form-control pull-left",@placeholder = "User Name" })
                                    <!--login-field-->
                                </div>
                                <!--form-group-->
                            </div>
                            <div class="form-group">
                                <div class="login-field pull-left">
                                    <i class="fa fa-key pull-left"></i>
                                     @Html.PasswordFor(m => Model.Password, new { @maxlength = 50, @size = "44",@class = "form-control pull-left",@placeholder = "Password" })
                                    <!--login-field-->
                                </div>
                                <!--form-group-->
                            </div>
                            <button type="submit" class="login-btn">login</button>
                            <button type="button" class="signup-btn">sign up</button>
                            <div class="remember">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Remember me</label>
                                    <a href="#">Forgot password</a>
                                    <!--checkbox-->
                                </div>
                                <!--remember-->
                            </div>
                        }
                        <p>Copyright © Finance Group 2016.   All rights reserved.</p>
                        <div class="social-icons">
                            <ul>
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                            </ul>
                            <!--social-icons-->
                        </div>
                    </div>
                    <!--darkBlueBg-->
                </div>
                <!--row-->
            </div>
            <!--login-banner-->
        </div>
        <div class="login-banner-img col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <!--banner-img-->
        </div>
        <!--row-->
    </div>
    <!--col-lg-12-->
</div>
