/*
 *
 *    [Table of contents]
 *
 *    [&. Content / #key]
 *    [Let press Ctrl + f and type of paste the key, then press Enter to search the content ]
 *
 *    Summary:
 *
 *    0. VARIABLE LESS
 *        - 0.1. Color
 *        - 0.2. Font
 *    1. MIXINS


/*
=============================
====    VARIABLE LESS    ====
=============================
*/

/*
----------  0.1. Color  ----------
*/

/*
----------  0.2. Font  ----------
*/

/*
=============================
===   END VARIABLE LESS   ===
=============================
*/

/*
=============================
====        MIXINS       ====
=============================
*/

/*
=============================
===       END MIXINS      ===
=============================
*/

@media screen and (max-width: 768px) {
    .page-banner {
        background-attachment: inherit;
    }
    /*
    ====================================
    =            GLOBAL STYLE          =
    ====================================
    */

    /*
    ----------  0.1. Miscellaneous  ----------
    */

    .visible-tablet {
        display: block !important;
    }
    .page-title-wrapper .title {
        font-size: 40px;
    }
    .padding-top {
        padding-top: 80px;
    }
    .padding-bottom {
        padding-bottom: 80px;
    }
    .page-title-wrapper {
        padding: 100px 0;
    }
    /*
    ----------  0.2. Section Title  ----------
    */

    .title-wrapper .subtitle {
        font-size: 5.71429rem;

        letter-spacing: 5px;
    }
    .title-wrapper .title {
        font-size: 2rem;
    }
    /*
    =====  End of GLOBAL STYLE  ======
    */

    /*
    ==============================
    =           HEADER          =
    ==============================
    */

    .container > .navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
    .dummy-container {
        width: 100%;
    }
    .navbar-header {
        float: none;

        text-align: center;
    }
    .bg-transparent .header-main-wrapper .navbar-header {
        position: relative;
        left: auto;
    }
    .bg-center .header-fixed .navbar-header {
        float: none;
    }
    .bg-white .topbar.pull-right {
        display: none;
    }
    .bg-white .dropdown-menu > li > a {
        color: #898989;
    }
    .bg-transparent .dropdown-menu > li > a {
        color: #ffffff;
    }
    .bg-center.navhidden-padding {
        padding-bottom: 101px;
    }
    .bg-center .dropdown-menu > li > a {
        color: #8e91a1;
    }
    .navbar-offcanvas {
        position: fixed !important;
        top: 0 !important;
        bottom: 0;
        left: -80vw;

        display: block;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        width: 80vw;
        height: 100%;
        margin: 0;

        -o-transition: left .25s ease-out;
           transition: left .25s ease-out;

        opacity: .98;
        background-color: #040921;
    }
    .navbar-offcanvas.active {
        left: 0;
    }
    .navbar-offcanvas .navbar-nav {
        margin: 0;
    }
    .navbar-offcanvas .navbar-nav li {
        float: none;

        border-top: 1px solid rgba(255, 255, 255, .05);
        border-bottom: 1px solid rgba(0, 0, 0, .35);
    }
    .navbar-offcanvas .navbar-nav li a.main-menu {
        line-height: 50px;

        padding-top: 0;
        padding-bottom: 0;
        padding-left: 17px;
    }
    .navbar-offcanvas .nav-wrapper {
        position: static;

        display: block;

        margin-top: 81px;
    }
    .navbar-offcanvas .dropdown-menu {
        position: relative;

        width: 100%;

        background-color: #12183a;
        box-shadow: none;
    }
    .navbar-offcanvas .dropdown-menu li {
        border-top: 1px solid rgba(255, 255, 255, 0);
        border-bottom: 1px solid rgba(0, 0, 0, .22);
    }
    .navbar-offcanvas .dropdown-menu > li > a {
        padding-left: 30px;
    }
    .navbar-offcanvas .dropdown-menu > li > a:focus,
    .navbar-offcanvas .dropdown-menu > li > a:hover {
        color: #93c23d;
        background-color: transparent;
    }
    .navbar-offcanvas li:hover .main-menu i {
        -webkit-transform: none !important;
             -o-transform: none !important;
                transform: none !important;
    }
    .navbar-offcanvas li:hover .dropdown-menu {
        display: none !important;
    }
    .navbar-offcanvas li:hover a.main-menu span.text:before {
        display: none;
    }
    .navbar-offcanvas li .dropdown-menu.drop-open {
        display: block !important;
    }
    .navbar-offcanvas li .main-menu i.active {
        -webkit-transform: rotate(180deg) !important;
             -o-transform: rotate(180deg) !important;
                transform: rotate(180deg) !important;
    }
    .navbar-offcanvas li .icons-dropdown {
        float: right;
    }
    .navbar-offcanvas li.active a.main-menu span.text:before {
        top: -15px;
        left: -17px;

        width: 3px;
        height: 50px !important;
    }
    .navbar-offcanvas .search-btn {
        display: none;
    }
    .navbar-offcanvas .nav-search {
        left: 0;

        border-bottom: 1px solid rgba(0, 0, 0, .35);
        background-color: transparent;
        box-shadow: none;
    }
    .navbar-offcanvas .nav-search form {
        position: relative;
    }
    .navbar-offcanvas .nav-search form input[type='text'] {
        width: 100%;
        padding-right: 40px;

        background-color: transparent;
    }
    .navbar-offcanvas .nav-search form .search-btn {
        position: absolute;
        right: 0;
    }
    .bg-white .nav-search,
    .bg-transparent .nav-search,
    .bg-center .nav-search {
        top: 0;
    }
    .bg-white .header-fixed .nav-search,
    .bg-transparent .header-fixed .nav-search,
    .bg-center .header-fixed .nav-search {
        top: 0;
    }
    /*
    =====  End of HEADER  ======
    */

    /*
    ==============================
    =           SECTION          =
    ==============================
    */

    .homepage-01 .banner-02,
    .homepage-01 .banner-03 {
        display: none;
    }
    .homepage-01 .content-wrapper .text {
        margin-bottom: 30px;
    }
    .homepage-02 .banner-01,
    .homepage-02 .banner-03 {
        display: none;
    }
    .homepage-02 .content-wrapper .text {
        margin-bottom: 30px;
    }
    .homepage-03 {
        margin-top: -152px;
    }
    .homepage-03 .page-banner {
        padding-top: 152px;
    }
    .homepage-03 .banner-01,
    .homepage-03 .banner-02 {
        display: none;
    }
    .homepage-03 .content-wrapper .text {
        width: 70%;
        margin-bottom: 30px;
    }
    .newsletter .banner-left {
        display: none;
    }
    .newsletter .banner-middle {
        width: 41.66666667%;
    }
    /*
    =====  End of Section  ======
    */

    /*
    ==============================
    =            PAGE            =
    ==============================
    */

    /*
    ----------  INDEX  ----------
    */

    .banner .banner-left .main-left {
        margin-bottom: 30px;
    }
    .achievement-dark .banner-right .item-logo {
        margin: 0 auto;
    }
    .achievement-dark .banner-right .wrapper-img .logo-achievement {
        margin: 0 auto;
    }
    .achievement-dark .banner-right .wrapper-img {
        width: 100%;
    }
    .achievement-dark .banner-right .wrapper-img .logo-hover {
        right: 0;
        bottom: 0;
    }
    .testimonial .content:after,
    .testimonial-dark .content:after {
        font-size: 4rem;

        top: 60px;
    }
    .testimonial .content,
    .testimonial-dark .content {
        padding: 60px 60px 60px 280px;
    }
    .finance .author {
        margin-left: 0;
    }
    .testimonial .testimonial-man,
    .testimonial-dark .testimonial-man {
        right: 67%;

        width: 30%;
    }
    .testimonial .slick-dots,
    .testimonial-dark .slick-dots {
        top: 90%;
        right: 45%;
    }
    .testimonial .slick-dots li,
    .testimonial-dark .slick-dots li {
        display: inline-block;
    }
    .w3-icon {
        font-size: 130px;

        top: 25px;
    }
    .who .banner-left:before {
        top: -80px;
        bottom: -80px;
    }
    .finance .col-xs-6:nth-child(1),
    .finance .col-xs-6:nth-child(2) {
        margin-bottom: 30px;
    }
    /*
    ----------  home page 2  ----------
    */

    .service-02-intro {
        margin-bottom: 30px;
    }
    .service-02-intro:last-child {
        margin-bottom: 0;
    }
    .who-alt-banner {
        background-image: none;
    }
    .testimonial-dark .content:before {
        width: 100%;
    }
    .testimonial-dark .slick-dots .slick-active button {
        color: #93c23d;
        border-color: #93c23d;
    }
    .achievement-light .banner-left .main-left {
        margin-bottom: 0;
    }
    .achievement-light {
        background-color: #f9f9f9;
    }
    .market .col-md-4 {
        display: inline-block;

        width: 100%;
        margin-bottom: 40px;
    }
    .market .col-md-4:last-child {
        margin-bottom: 0;
    }
    .sign-up .subscribe-email-wrapper .subscribe-email-left {
        width: 100%;
        margin-bottom: 20px;

        text-align: center;
    }
    .sign-up .subscribe-email-wrapper .subscribe-email-right {
        float: none;

        margin: 0 auto;
    }
    /*
    ----------  4.1. Service  ----------
    */

    .page-title {
        margin-bottom: 50px;
    }
    .main-our-service {
        margin-bottom: 50px;
    }
    .content-our-service .col-md-4:nth-child(4) .main-our-service {
        margin-bottom: 50px;
    }
    .banner-ceo .content-banner-ceo {
        padding: 80px 0;
    }
    .banner-ceo .ceo-img .img {
        left: 100px;

        width: 17%;
    }
    .wrapper-serve .main-text .wp-text {
        display: inline-block;

        width: 80%;
        padding-left: 0;
    }
    .wrapper-serve .main-text .text-number {
        float: left;

        width: 20%;
    }
    .wrapper-serve .content-serve .fl-right {
        float: none;
    }
    .wrapper-serve .main-text {
        padding-top: 20px;
    }
    .warpper-plan .content-plan:nth-child(1),
    .warpper-plan .content-plan:nth-child(2) {
        border-bottom: 1px solid #dcdee3;
    }
    .wrapper-section-how .wp-6 {
        float: left;

        width: 100%;
    }
    .wrapper-section-how .wp-6:nth-last-child(-n + 2 ) {
        margin-bottom: 50px;
    }
    .wrapper-section-how .wp-6:last-child {
        margin-bottom: 0;
    }
    .ceo .ceo-img {
        width: 70%;
        margin: 0 auto;
    }
    .wrapper-serve .wp-sv {
        display: block;
    }
    .main-testimonial .w3-icon {
        display: inherit;
    }
    /*
    ----------  4.2. Project  ----------
    */

    .main-project-left {
        width: 100%;
        margin-bottom: 30px;
    }
    .main-project-right {
        width: 100%;
    }
    .wrapper-project-logo {
        margin: 0;
    }
    .wrapper-our-text .our-text {
        margin-bottom: 30px;
    }
    /*
    ----------  4.3. Project Single  ----------
    */

    .wrapper-ap-title .main-text {
        display: inline-block;

        width: 20%;
    }
    .wrapper-ap-title .main-text:nth-child(2) {
        width: 10%;
    }
    .wrapper-ap-title .main-text:nth-child(4),
    .wrapper-ap-title .main-text:nth-child(5) {
        width: 25%;
    }
    .wrapper-ap-img {
        margin-bottom: 30px;
    }
    .wp-pd-responsive {
        padding-bottom: 30px;
    }
    section.page-banner.page-project-single {
        background-position: right;
    }
    /*
    -----------  4.4. Blog  -----------
    */

    .content-blog {
        margin-bottom: 50px;
    }
    /*           ABOUT           */

    section.page-banner.about {
        background-position: right bottom;
    }
    .wrapper-timeline {
        padding-left: 40px;
    }
    .wrapper-timeline .content-timeline {
        padding-left: 80px;
    }
    .wrapper-timeline .timeline-number {
        font-size: 35px;
    }
    .wrapper-banner-why .content-why {
        margin-bottom: 30px;
    }
    .content-about-done .col-sm-12 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .content-about-done .col-sm-12.chart-md {
        margin-top: 0;
    }
    .content-banner-map .main-left {
        float: left;

        width: 100%;
        margin-bottom: 30px;
    }
    .content-banner-map .left-text .timeline-title {
        max-width: 160px;
    }
    .wrapper-banner-why .why-icon:before {
        height: 40%;
    }
    .wrapper-timeline .timeline-block {
        margin-bottom: 60px;
    }
    .wrapper-timeline .timeline-slider .slick-prev,
    .wrapper-timeline .timeline-slider .slick-next {
        display: none !important;
    }
    .page-blog-detail {
        background-position: right;
    }
    .slick-dots li button {
        color: #93c23d;
        border-radius: 50%;
        background-color: #f9f9f9;
    }
    .slick-dots li button:before {
        color: #93c23d;
    }
    .slick-dots li.slick-active button:before {
        color: #93c23d;
    }
    /*    TEAM    */

    .section-team .main-content:hover .wrapper-social-text {
        display: none;
    }
    .section-team ul .icon-tab {
        padding: 8px 10px;
    }
    .section-team .main-content {
        margin-bottom: 30px;
    }
    .wrapper-main-content .col-sm-6:nth-child(3) .main-content,
    .wrapper-main-content .col-sm-6:nth-child(4) .main-content {
        margin-bottom: 0;
    }
    .wrapper-section-see .wrapper-see-img {
        display: none;
    }
    .content-open {
        margin-bottom: 40px;
    }
    .section-team .tap-nav {
        margin-bottom: 40px;
    }
    .wrapper-text-excel .list-text {
        margin-bottom: 20px;
    }
    /*
    ----------  4.5. Contact  ----------
    */

    .section-contact {
        text-align: center;
    }
    .section-contact .col-md-4.col-xs-6.style-2 {
        display: inline-block;
        float: none;

        margin: 30px auto 0 auto;
    }
    .contact-map:before {
        width: 100%;
    }
    .contact-map #googleMap {
        position: relative;

        width: 100%;
        height: 400px;
    }
    .list-places {
        text-align: center;
    }
    .wrapper-places {
        float: left;

        width: 50%;
    }
    .wrapper-places .main-title {
        position: relative;
        top: 10px;

        width: auto;
    }
    .wrapper-places.style-2 {
        display: inline-block;
        float: none;
    }
    /*
    ----------  4.6. Blog Detail  ----------
    */

    .sidebar {
        padding-top: 70px;
    }
    .col-1 {
        width: 100%;
    }
    .col-2 {
        float: left;

        width: 50%;
    }
    .col-2:nth-child(even) {
        padding-right: 15px;
    }
    .col-2:nth-child(odd) {
        padding-left: 15px;
    }
    .col-2 .widget:last-child {
        margin-bottom: 0;
    }
    /*
    ----------  section news  ----------
    */

    .news .date {
        padding-left: 120px;
    }
    .news .date:before {
        left: 0;
    }
    .news .article img {
        margin-bottom: 30px;
    }
    /*
    =====  End of PAGE  ======
    */

    /*
    ==============================
    =           FOOTER           =
    ==============================
    */

    .footer-main-wrapper [class*=col-] {
        margin-bottom: 50px;
    }
    .footer-main-wrapper [class*=col-]:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    /*
    =====  End of FOOTER  ======
    */
}
